:root {
  --sidebar-width: clamp(10vw, auto, 260px);

  --light: #f8fafc;
  --cyan-50: #ecfeff;
  --cyan-100: #cffafe;
  --cyan-200: #a5f3fc;
  --cyan-300: #67e8f9;
  --cyan-400: #22d3ee;
  --cyan-500: #06b6d4;
  --cyan-600: #0891b2;
  --cyan-700: #0e7490;
  --cyan-800: #155e75;
  --cyan-900: #164e63;
  --cyan-950: #083344;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "footer footer";
  color: var(--cyan-950);
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: currentColor;
}
button:hover {
  cursor: pointer;
}
aside {
  max-width: 25vw;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
  background-color: var(--cyan-600);
  box-shadow: 0 1px 5px var(--cyan-800);
  z-index: 4;
}
aside h1,
aside a,
aside a:visited {
  color: var(--cyan-50);
}
aside svg {
  fill: var(--cyan-50);
  flex-shrink: 0;
}
aside .logo {
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
aside .logo h1 {
  font-size: 1.5rem;
}
aside nav ul {
  font-size: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
}
aside nav ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 5rem 1rem 1rem;
}
aside nav ul li a:hover {
  background-color: var(--cyan-50);
}
aside nav ul li a:hover {
  color: var(--cyan-800);
}
aside nav ul li a:hover svg {
  fill: var(--cyan-800);
}
header {
  background-color: var(--cyan-100);
  padding: 1.5rem;
  grid-area: header;
  display: grid;
  row-gap: 1rem;
  grid-template-areas:
    "searchbar notifs-profile"
    "greetings action-buttons";
  grid-template-rows: 8fr 10fr;
  grid-template-columns: 2fr 1fr;
  z-index: 3;
  box-shadow: 0 1px 5px var(--cyan-800);
}
header .profile-picture {
  border-radius: 100%;
}
header .searchbar {
  display: flex;
  margin: 5px;
  border-radius: 999px;
  overflow: hidden;
  outline: 1px solid var(--cyan-950);
  transition: box-shadow 250ms cubic-bezier(0.77, 0, 0.18, 1);
}
header .searchbar:focus,
header .searchbar:focus-within {
  box-shadow: 1px 1px 3px var(--cyan-950);
}
header .searchbar > * {
  background-color: var(--cyan-50);
  border: none;
  outline: none;
}
header .searchbar input {
  flex: 1;
  flex-shrink: 1;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 600;
  color: var(--cyan-950);
}
header .searchbar button {
  padding: 5px 1rem;
}
header .searchbar button:hover,
header .searchbar button:focus-visible {
  filter: brightness(0.9);
  box-shadow: -0.1px 0 0.5px var(--cyan-950);
}
header .searchbar button:active {
  filter: brightness(0.85);
  box-shadow: -0.1px 0 0.2px var(--cyan-950);
}

header .searchbar button svg {
  width: 28px;
  fill: var(--cyan-950);
}
header .notifs-profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  margin-right: 2rem;
}
header .notifications {
  position: relative;
}
header .notifications svg {
  width: 32px;
  fill: var(--cyan-700);
}
header .notifications::after {
  content: "69";
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -1px;
  right: -4px;
  color: var(--cyan-950);
  background-color: var(--cyan-400);
  width: 18px;
  height: 18px;
  border-radius: 100%;
  font-size: 13px;
}
header .profile {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  color: var(--cyan-950);
  padding: 0.3rem;
  border: 1px solid var(--cyan-950);
  background-color: var(--cyan-50);
  border-radius: 999px;
}
header .profile:hover {
  background-color: var(--cyan-100);
}
header .greetings {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .greetings .username-handle {
  font-size: 1.4em;
  font-weight: 700;
}
header .action-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.5rem;
  margin-right: 2rem;
}
header .action-buttons button {
  border-radius: 15px;
  border: none;
  padding: 0.35rem 1.5rem;
  color: var(--cyan-50);
  background-color: var(--cyan-600);
  font-size: 1.1rem;
}
header .action-buttons button:hover {
  filter: brightness(0.9);
}
header .action-buttons button:active {
  filter: brightness(0.85);
}
header .action-buttons button:focus-visible {
  outline: 1px solid var(--cyan-950);
}
main {
  background-color: var(--cyan-50);
  padding: 1.5rem;
  grid-area: main;
  display: grid;
  grid-template-areas:
    "projects-container anouncements-container"
    "projects-container trending-container";
  grid-template-columns: 1fr 250px;
  gap: 1rem;
}
main .projects-container {
  grid-area: projects-container;
}
main > * > h2 {
  margin-bottom: 1.5rem;
}
main .projects {
  column-gap: 1rem;
  row-gap: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(250px, 1fr);
}
main .projects .card {
  display: grid;
  grid-template-areas: "title title" "paragraph image" "links links";
  background-color: var(--cyan-100);
  padding-inline: 1rem;
  border-radius: 10px;
  position: relative;
  column-gap: 0.5rem;
  box-shadow: 1px 1px 5px var(--cyan-800);
}
main .projects .card::before {
  content: "";
  position: absolute;
  width: 7px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--cyan-400);
  border-radius: 10px 0 0 10px;
}
main .projects h3 {
  margin-top: 1rem;
  grid-area: title;
}
main .projects p {
  grid-area: paragraph;
  font-size: 18px;
}
main .projects .card > img {
  grid-area: image;
  border-radius: 7px;
  border: 2px solid var(--cyan-950);
}
main .projects .card .links {
  grid-area: links;
  padding-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
main .projects .card .links a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
}
main .projects .card .links > *:hover {
  color: var(--cyan-600);
}
main .projects .card .links > *:hover svg {
  fill: var(--cyan-600);
}
main .anouncements-container {
  grid-area: anouncements-container;
  justify-self: start;
}
main .anouncements,
main .trending {
  background-color: var(--cyan-100);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 1px 1px 5px var(--cyan-800);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
main .anouncements .card {
  display: flex;
  flex-direction: column;
  gap: .75rem;
}
main .anouncements > *:not(:last-child) {
  padding-bottom: 1rem;
  border-bottom: 1px solid hsla(197, 79%, 15%, 0.349);
}
main .anouncements .card h3 {
  font-size: 18px;
}
main .trending-container {
  grid-area: trending-container;
  justify-self: start;
}
main .trending {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
main .trending .card {
  display: flex;
  gap: 1rem;
}
main .trending .card img {
  border-radius: 100%;
}
main .trending .card .content {
  display: flex;
  flex-direction: column;
   gap: 0.25rem;
}
main .trending .card .content p:first-child {
  font-weight: 700;
}
footer {
  padding-block: 0.5rem;
  gap: 0.5rem;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: var(--cyan-950);
  z-index: 5;
  box-shadow: 0 -1px 2px var(--cyan-800);
  color: var(--light);
}
footer a {
  color: var(--cyan-500);
}